html {
  font-size: 18px;
  font-family: Helvetica, Arial;
}

/*Header Section*/
header {
  background-color: black;
  color: white;
  text-transform: uppercase;
}
header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  align-self: center;
}
header h1 {
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}
.logo {
  width: 960px;
  display: flex;
  justify-content: center;
}

/*New Arrival Section*/
#NewArrival {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  width: 100%;
  background-size: cover;
}
/*Warning, this div is not positioned correctly!!! Needs to be fixed*/
#ArrivalText {
  width: 960px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 20rem;
  height: 8rem;
  text-transform: uppercase;
}
#ArrivalText h4 {
  font-size: 1rem;
  font-weight: bold;
}
#ArrivalText h1 {
  font-size: 2rem;
  font-weight: bold;
}
/*Nav Section*/

/*Catalog Section*/

/*Location Section*/

/*Footer Section*/
