html {
  font-size: 18px;
  font-family: Helvetica, Arial;
}

/*Header Section*/
header {
  background-color: black;
  color: white;
  text-transform: uppercase;
}
header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  align-self: center;
}
header h1 {
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}
.logo {
  width: 960px;
  display: flex;
  justify-content: center;
}

/*New Arrival Section*/
#NewArrival {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  width: 100%;
  background-size: cover;
}
.ArrivalContainer {
  width: 960px;
  display: flex;
  justify-content: center;
}
#ArrivalText {
  position: relative;
  top: 9rem;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  width: 20rem;
  height: 8rem;
  text-transform: uppercase;
  padding-left: 3rem;
  padding-top: 2rem;
}
#ArrivalText h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#ArrivalText h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/*Nav Section*/
nav {
  background-color: firebrick;
  color: white;
  display: flex;
  justify-content: center;
}
nav ul {
  width: 960px;
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
/*Catalog Section*/

/*Location Section*/

/*Footer Section*/
